body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: cornsilk;
}


#container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1%;
    width: 300px;
}

#content {
    text-align: center;
}

h3 {
    font-size: 1em;
    margin-bottom: 1%;
}

#generatedNum {
    font-size: 2em;
    color: #4b82ad;
}

a {
    margin-top: 1%;
}